<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BusinessDB"
			 connectionString="Data Source=DESKTOP-7UIKS3S\SQLEXPRESS;Initial Catalog = Business; Integrated Security = true;"
			 providerName ="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>